@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    
}

:root {
  /* Cores Principais - Natureza e Aventura */
  --cor-primaria: #2e5a44;
  --cor-secundaria: #556b2f;
  --marrom-terra: #8b5a2b;
  --bege-areia: #f4f1ea;
}